# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
dist/
.angular/
.cache/

# Logs
logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE (VS Code)
.vscode/

# Build
build/

# Docker
docker-compose.override.yml

# Coverage
coverage/

# Temporary files
tmp/
temp/